
# **********************************************************************************
# Beepers, pitos y flautas
# **********************************************************************************

[output_pin BEEPER_pin]
pin: BTT-Pi:gpio205 # momentaneo en la BTT Pi, a falta de confirmación
# pin: gpio29 definir # En la salida pensada para BLTouch
#   Beeper pin. This parameter must be provided.
pwm: True
#   A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
#   Silent at power on, set to 1 if active low.
shutdown_value: 0
#   Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001
#   Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz
#   Although not pitch perfect.

# Pequeño altavoz de 32 Ohm y dos pulgadas de diametro, membrana plástica, buen nivel sonoro
# conectado en la tercera salida de ventiladores, FAN2, pin PD12, puente selector de voltaje ajustado para 5 voltios


